<!-- Created by Daniel Deng -->

<div>
  <label for="name">Company Symbol</label>
  <mwl-text-input-autocomplete-container>
        <textarea
          placeholder="Type @ to search..."
          class="form-control" style="height:45px"
          rows="5"
          [(ngModel)]="ticker" (ngModelChange)='changed($event)'
          mwlTextInputAutocomplete
          [findChoices]="setUpJSON"
          [getChoiceLabel]="getChoiceLabel">
        </textarea>
  </mwl-text-input-autocomplete-container>

  <br/><br/>
  <canvas #myCanvas>{{ chart }}</canvas>
</div>
