<!-- Created by Daniel Deng -->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">$100.51</div>
          <div>Apple</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">$507.90</div>
          <div>Facebook</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">$180.67</div>
          <div>Shopify</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart3Data"
          [labels]="lineChart3Labels"
          [options]="lineChart3Options"
          [colors]="lineChart3Colours"
          [legend]="lineChart3Legend"
          [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">$64.37</div>
          <div>Citi</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;" id="tradingForm"  >
          <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->




  <!-- Trading Form -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 22px">Create Strategy</strong>
        </div>
        <div class="card-body">


          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Strategy</label>
            <div class="col-md-12">
              <select [(ngModel)]="name" id="select1" name="select1" class="form-control">
                <option value="TWOMA">Two Moving Averages</option>
                <option value="1">Strategy 2</option>
                <option value="2">Strategy 3</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Company Symbol</label>
                <mwl-text-input-autocomplete-container>
                      <textarea
                        placeholder="Type @ to search..."
                        class="form-control" style="height:45px"
                        rows="5"
                        [(ngModel)]="ticker"
                        mwlTextInputAutocomplete
                        [findChoices]="setUpJSON"
                        [getChoiceLabel]="getChoiceLabel">
                      </textarea>
                </mwl-text-input-autocomplete-container><br/>
              </div>
            </div>
          </div>












          <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">SMA Period</label>
                  <input [(ngModel)]="par1" type="number" class="form-control" id="name" placeholder="Enter the Short Moving Average period">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">LMA Period</label>
                  <input [(ngModel)]="par2" type="number" class="form-control" id="name" placeholder="Enter the Long Moving Average period">
                </div>
              </div>
          </div><!--/.row-->


          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label" for="appendedInput">Threshold</label>
                <div class="controls">
                  <div class="input-group">
                    <input [(ngModel)]="par3" id="appendedInput" class="form-control" size="16" type="number">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <span class="help-block">Enter your exit threshold for loss and gains</span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label" for="prependedInput">Size</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input [(ngModel)]="par4" id="prependedInput" class="form-control" size="16" type="text">
                  </div>
                  <p class="help-block">Size of position in dollars allocated to this strategy</p>
                </div>
              </div>
            </div>
          </div><!--/.row-->

        </div>

        <div class="form-actions">
          <button class="btn btn-secondary" id="clear" type="button" (click)="clearForm();">Clear</button>
          <button type="submit" (click)="createTrade(); clearForm()" class="btn btn-primary" id="submit">Submit</button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
<br/>


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 22px">Strategy List</strong>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">


            <thead class="thead-light">
              <tr>
                <th class="text-center">Identifier</th>
                <th class="text-center">Strategy Type</th>
                <th class="text-center">Ticker</th>
                <th class="text-center">Threshold</th>
                <th class="text-center">Position ($)</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>


            <tbody>
              <tr *ngFor="let strategy of strategies" (click)="getDetails(strategy.transactions, strategy.strategy.id)">

                <td class="text-center">
                  <div>{{strategy.strategy.id}}</div>
                </td>

                <!-- strategy type header -->
                <td class="text-center">
                  <div>{{strategy.strategy.type.name}}</div>
                </td>

                <!-- ticker headers -->
                <td class="text-center">
                  <div>{{strategy.strategy.ticker}}</div>
                </td>

                <!-- threshold header -->
                <td class="text-center">
                  <div>{{strategy.strategy.par3}}</div>
                </td>

                <!-- position header -->
                <td class="text-center">
                  <div>{{strategy.strategy.par4}}</div>
                </td>

                <!-- status header -->
                <td class="text-center">
                  <div>{{strategy.strategy.active}}</div>
                  <a href="#tradingForm"><button class="btn btn-secondary" type="button" (click)="adjust(strategy.strategy);">Adjust</button></a>
                </td>
              </tr>


            </tbody>
          </table>
          <br/><br/>
          <div>
            <label for="name">Stop or Stop Strategies</label>
            <input [(ngModel)]="decision" type="number" class="form-control" id="name" placeholder="Enter the Identifier of the strategy you wish to start or stop">
          </div>
          <br/>
          <div>
            <button class="btn btn-secondary" id="stop" type="button" (click)="stopTrade();">Stop</button>
          </div>

          <div>
            <button class="btn btn-secondary" id="start" type="button" (click)="startTrade();">Start</button>
          </div>

        </div>
      </div>





      <div *ngIf="show">
        <div class="card-header">
          <strong style="font-size: 22px">Historical Trades for Strategy: {{strategyId}}</strong>
        </div>

                <table class="table table-responsive-sm table-hover table-outline mb-0">


                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">Position</th>
                      <th class="text-center">Price</th>
                      <th class="text-center">Quantity</th>
                      <th class="text-center">Time Placed</th>
                    </tr>
                  </thead>



                  <tbody>
                    <tr *ngFor="let transaction of transactions">

                      <td class="text-center">
                        <div>{{transaction.position}}</div>
                      </td>

                      <!-- strategy type header -->
                      <td class="text-center">
                        <div>{{transaction.price}}</div>
                      </td>

                      <!-- ticker headers -->
                      <td class="text-center">
                        <div>{{transaction.quantity}}</div>
                      </td>

                      <!-- threshold header -->
                      <td class="text-center">
                        <div>{{transaction.timeplaced}}</div>
                      </td>


                    </tr>


                  </tbody>
                </table>
      </div>







      <div>
        <div class="card-header">
          <strong style="font-size: 22px">Performance</strong>
        </div>

                <table class="table table-responsive-sm table-hover table-outline mb-0">


                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">Strategy Id</th>
                      <th class="text-center">Gains/Losses</th>
                    </tr>
                  </thead>



                  <tbody>
                    <tr *ngFor="let performance of performances" [ngStyle]="{'background-color': getColor(performance.gain), 'color': 'white'}">

                      <td class="text-center">
                        <div>{{performance.id}}</div>
                      </td>

                      <!-- strategy type header -->
                      <td class="text-center">
                        <div>{{performance.gain}}</div>
                      </td>

                    </tr>

                  </tbody>
                </table>

                <br/>
                <div>
                  <button class="btn btn-secondary" id="clear" type="button" (click)="refreshPerformance();">Refresh</button>
                </div>
      </div>


    </div><!--/.col-->
  </div><!--/.row-->
</div>
