// Here you can add other styles
#clear {
  float: right;
  margin: 0px 20px 20px 20px;
}

#submit {
  float: right;
}

#start {
  float: right;
  margin: 0px 20px 20px 20px;
  background-color: #7FB146;
}

#stop {
  float: right;
  margin: 0px 20px 20px 20px;
  background-color: #FF4C4C;
}
